::-moz-selection
  color: $color-primary
  background: #000

::selection
  color: $color-primary
  background: #000

html, body
  height: 100%
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

body
  padding: 0
  margin: 0
  font-size: 62.2%
  background: #eee
  position: relative
  font-family: $font-default

.header
  height: 100%
  background: bg('img/bg-gorilla.jpg') center top no-repeat
  background-size: cover

.header-top
  max-width: $size-container
  margin: 0 auto
  padding: 3em 0
  display: flex
  justify-content: space-between

.header-logo
  position: relative
  font-family: $font-title
  color: #fff
  font-size: 3em
  line-height: 1.3
  margin: 0
  padding-left: 1.8em
  font-weight: bold
  letter-spacing: -0.01em
  text-transform: uppercase

  &:before
    content: ''
    display: block
    position: absolute
    top: -.1em
    left: 0
    width: 1em
    height: 2em
    background: bg('svg/gorilla-logo-bw.svg') no-repeat 0 0
    background-size: 100% auto

.header-content
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)
  max-width: $size-container
  text-align: center

.header-description
  font-size: 5em
  color: #333
  text-align: center
  margin: .5em 0
  font-family: $font-alt

.header-nav, .header-nav-list
  margin: 0
  padding: .7em 0 0 0
  list-style: none

.header-nav-item
  display: inline-block
  margin: 0 .5em

.header-nav-link
  color: #ddd
  font-size: 1.6em
  text-decoration: none
  text-transform: lowercase

  &:hover
    border-bottom: 1px dotted #aaa

.code-content
  text-align: center

.code-snippet
  display: inline-block
  background: rgba(#000, .2)
  padding: 1em 2em
  color: #eee
  font-familt: $font-title
  font-size: 2em
  border-radius: 2px
