
body
  padding: 0
  margin: 0
  font-size: 62.2%
  font-family: 'YeahPapa'
  background: #eee
  
header
  display: flex
  height: 70em
  background: url('../img/bg-gorilla.jpg') center top no-repeat
  background-size: cover
  
.header-content
  margin: auto
  
.header-logo
  max-width: 9em
  height: auto
  
  img
    max-width: 100% 