
// -- Fonts
$font-title       = 'Anonymous Pro', monospace
$font-default     = 'Arial', sans-serif
$font-alt         = 'Nunito', sans-serif

// -- Colors
$color-primary    = #9b59b6

// -- Sizes
$size-container   = 1040px
